@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family:"Montserrat",sans-serif;
  min-height: calc(100vh - 50px);
  background: linear-gradient(180deg,white 0%,blue 100%);
  margin:0;
}
.container{
  margin:0 auto;
  margin-top:50px;
  border-radius: 50px;
  width:400px;
  background-color: white;
  padding: 20px 10px;
  position: relative;
}
.create_room{
  width:200px;
  padding:5px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(21, 58, 209);
  cursor:pointer;
  border:0px;
  border-radius: 50px;
  display:block;
  margin:100px auto;
  color:white;

}
.home{
  position: absolute;
  top:1rem;
  right:4.5rem;
  cursor: pointer;
}
.invite{
  position: absolute;
  top:1rem;
  right:1rem;
  cursor: pointer;
}
.title_container{
  position: relative;
  display: inline-block;
}
.title{
  margin-top:1rem;
  margin-left:30px;
  font-size: 2rem;
  font-weight: 600;
}
.edit{
  position: absolute;
  top:1rem;
  right:-20px;
  cursor:pointer;
}
.edit_title{
  margin-top:1rem;
  margin-left:30px;
  font-size: 2rem;
  font-weight: 600;
  font-family:"Montserrat",sans-serif;
  border:none;
  background-color: transparent;
  display:inline;
  width:300px;
}
.inner_container{
  height:400px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:0 auto;
}
.message_container{
  display:flex;
  flex-direction:column ;
  margin:3px 0px;
  overflow-y: auto;
}
.message{
  margin:5px;
  border-radius: 10px;
}
.user{
  font-size: 12px;
  text-align: right;
  font-weight: 600;
}
.user_m{
  padding:5px 20px;
  border-radius: 20px;
  background-color: rgb(35, 14, 231);
  width:fit-content;
  color:white;
  margin-right:0;
  margin-left:auto;
}
.user_you{
  font-size: 12px;
  font-weight: 600;
}
.user_you_m{
  padding:5px 20px;
  border-radius: 20px;
  background-color: rgb(204, 207, 209);
  width:fit-content;
}
.input_form{
  background-color: rgb(204, 207, 209);
  border-radius: 20px;
  display:flex;
  justify-content: space-between;
  margin-top:10px;  
}
.input_text{
  background-color: transparent;
  border:0px;
  border-radius:20px;
  padding:5px 10px;
  width:100%;
  font-family:"Montserrat",sans-serif;
  outline: none;
}
.input_button{
  background-color: rgb(35, 14, 231);
  border:0px;
  border-radius: 20px;
  color:white;
  cursor:pointer;
  padding:5px 10px;
  font-family:"Montserrat",sans-serif;
  font-weight: 600;
}
.black{
  display:none;
  z-index: 1;
  height:100%;
  width:100%;
  left:0;
  top:0;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
.open{
  display:block;
}

.invite_container{
  margin:15% auto;
  width:80%;
  max-width:500px;
  position: relative;
  background-color: white;
  padding:5px ;
  border:1px solid black;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  gap:1rem;
  animation-name: goin;
  animation-duration: 0.4s;
}
@keyframes goin{
  from{bottom: -300px;opacity: 0;}
  to{bottom: 0px;opacity: 1;}
}
.invite_title{
  font-family:"Montserrat",sans-serif;
  margin:0;
}
.invite_close{
  position: absolute;
  width:15px;
  height:15px;
  top:15px;
  right:15px;
  cursor: pointer;
}
.invite_btn{
  background-color: rgb(23, 120, 6);
  color:white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:"Montserrat",sans-serif;
}
